{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true,
      "decorators": true,
      
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": false,
        "development": false,
        "useBuiltins": true
      }
    },
    "baseUrl": "./src",
    "paths": {
      "@/*": ["./*"]
    },
    "target": "es2020",   
    "loose": true
  },
  "module": {
    "type": "commonjs"
  }
}