{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true,
      "decorators": true
    },
    "baseUrl": "./src",
    "paths": {
      "@/*": ["./*"]
    },
    "target": "es2020",   
    "loose": true
  },
  "module": {
    "type": "commonjs"
  }
}